*{
    margin: 0;
    padding: 0;
}
#container{
    width: 99%;
    margin: auto;
    
}
#nav{
     /* border: 1px solid red;  */
    width: 99%;
    height: 190px;
    margin: auto;
    padding-top: 5px;
}
#nav > .first{
     border: 1px solid  rgb(51, 51, 51); 
    width: 100%;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.first > div{
    display: flex;
    padding: 5px;
    
}
.first > div > p{
    padding: 5px;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 31px;
 color: rgb(51, 51, 51);
}

#nav > .second{
    /* border: 1px solid blue; */
    width: 98%;
    height: 40px;
    margin-top: 5px;
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    justify-content: space-around;
    
}
#nav > .second > div{
    display: flex;
    
}
#nav > .second > div> ul  {
    display: flex;
   
}
#nav > .second > div > ul > li{
   margin:  10px;
   list-style: none;
   font-family: Montserrat, sans-serif;
   font-size: 12px;
   font-weight: 700;
   line-height: 15px;
   color: rgb(51, 51, 51);
   
}

#nav > .third{
    /* border: 1px solid blue; */
    width: 100%;
    height: 50px;
    margin: auto;
    background-color: rgb(51, 51, 51);
}
#nav > .third > div{
    width: 80%;
    height: 50px;
    margin: auto;
    /* border: 1px solid green; */
}
 #nav > .third > div > ul {
     display: flex;
     justify-content: space-around;
 }
 #nav > .third > div> ul > li{
     list-style: none;
     margin-top: 10px;
     font-family: Montserrat, sans-serif;
     font-size: 11px;
     font-weight: 500;
     line-height: 15px;
color: rgb(204, 204, 204);
 }
 #nav > .fourth{
     /* border: 1px solid blue; */
     width: 100%;
     height: 53px;
     margin: auto;
     background-color: #9224d2;
     text-align: center;
     padding-top: 10px;
 }
 #nav > .fourth > h3{
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(51, 51, 51);
 }
 #nav > .fourth > p{
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    color: rgb(51, 51, 51);
 }

 /* ---------------------------------nav end------------------------------------- */

 .totalitem{
     width: 50%;
     height: 150px;
     /* border: 1px solid red; */
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
 }

 .totalitem > button{
     background-color: white;
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 5px;
     color: black;
     border: none;
     font-size: 18px;
 }

 .cartpage{
     width: 99%;
     
     /* border: 1px solid  green; */
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
 }

 #cartitems{
     width: 70%;
     /* height: 500px; */
     margin: auto;
     
 }
 .divMain{
     width: 100%;
     height: 200px;
     /* border: 1px solid  red; */
     display: grid;
     grid-template-rows: 200px;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 10px;
 }

 .Div{
     /* border: 1px solid  blue; */
     width: 60%;
     margin-left: 20px;
     margin-top: 20px;
     text-align: center;
     padding-top: 40px;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }
 .imagetag{
     width: 50%;
     height: 100px;
     
 }
 .ptag{
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 19px;
    color: rgb(51, 51, 51);
 }

 
/* -----------------------fotter--------------------------- */

.fotterpage{
    width: 99%;
    height: 500px;
    /* border: 1px solid red; */
    margin-top: 10px;
}
.fotterpage > div{
    width: 90%;
    height: 500px;
    /* border: 1px solid teal; */
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: auto;
}
  .firstfotter{
    width: 90%;
    height: 450px;
    /* border: 1px solid green; */
    margin-top: 25px;
    margin-left: 10px;
    display: flex;
    
}
 .ft_text{
    /* border: 1px solid blue; */
    width: 42%;
    height: 420px;
    text-align: center;
   
    
}
.ft_text > h5{
    font-family: Montserrat, sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 16px;
color: rgb(51, 51, 51);
padding-bottom: 30px;
}
.ft_text > p{
    font-family: Montserrat, sans-serif;
font-size: 12px;
font-weight: 500;
line-height: 14.4px;
color: rgb(51, 51, 51);
padding-top: 18px;
}
.ft_text > hr{
    width: 35px;
    height: 2px;
    background-color: black;
     margin: auto;
}
 .secondfotter{
    width: 80%;
    height: 400px;
    /* border: 1px solid rgb(128, 0, 64); */
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    padding-top: 70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.secondfotter > h5{
    font-family: Montserrat, sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 16px;
color: rgb(51, 51, 51);
padding-top: 10px;
 
}

.secondfotter > p{
    font-family: Montserrat, sans-serif;
font-size: 12px;
font-weight: 500;
line-height: 14.4px;
color: rgb(51, 51, 51);
padding-top: 10px;
 
}
 .secondfotter > #email{
     width: 220px;
     height: 35px;
     margin-top: 10px;
 }
 .secondfotter > button{
     background-color: #333333;
     color: white;
     padding:10px;
     width: 140px;
     border: none;
     border-radius: 10px;
     margin-top: 20px;

 }
 .secondfotter > form > label > #radio{
    font-family: Montserrat, sans-serif;
font-size: 12px;
    font-weight: 600;
    line-height: 28px;
    color: rgb(51, 51, 51);
    margin-top: 19px;
 }

 .secondfotter > #check > label{
    font-family: SourceSansProltalic, sans-serif;
    font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        color: rgb(153, 153, 153);
        padding-top: 10px;
 }
 .thirdfotter{
    width: 90%;
    height: 450px;
    /* border: 1px solid rgb(19, 0, 128); */
    margin-top: 25px;
    margin-left: 10px;
    display: flex;
   
}

/* ------------------------fotter next------------------------ */

.fotternext{
    width: 99%;
    height: 200px;
    /* border: 1px solid red; */
}

.fotterSocial{
    /* border: 1px solid blue; */
    width: 100%;
    height: 60px;
    display: flex;
}
.fotterSocial > .social{
     /* border: 1px solid red; */
     width: 30%;
     height: 40px;
     display: flex;
     justify-content: space-evenly;
     margin-left: 70px;
     padding-top: 10px;
      
}
 .social > a > i{
     color: #333333;
     font-size: 16px;
 }
.social > h5{
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 36px;
    color: rgb(51, 51, 51);
}
.fotterSocial > .socialdownload{
     /* border: 1px solid green;  */
    width: 44%;
    height: 40px;
    margin-left: 250px;
    padding-top: 10px;
    padding-left: 40px;
    display: flex;
}
.socialdownload > a > i{
    color: #333333;
    font-size: 16px;
    
}
.fotterSocial > .socialdownload > h5{
    padding-left: 5px;
}

.fotterLast{
    width: 100%;
    height: 140px;
    background-color: #333333;
    color: white;
    padding-top: 19px;
}

.fotterLast > h5{
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.fotterLast > h6{
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 10px;
}
 

 